In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
df1 = pd.read_csv("articles.csv")

In [3]:
df2 = pd.read_csv("customers.csv")

In [4]:
df3 = pd.read_csv("test_data.csv")

In [5]:
df4 = df3.merge(df1, on='article_id', how='left').merge(df2, on='customer_id', how='left')

In [6]:
#profile = ProfileReport(df4, title = "Merge - Articles, Customers and Test")

In [7]:
#profile.to_file(output_file = 'output_Merge-Test.html')

In [8]:
df4.drop(columns=['FN','Active'], inplace=True)

In [9]:
df4[df4['age'].isna()]

,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,...,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,club_member_status,fashion_news_frequency,age,postal_code
41,1bd20064db06a874799db47fbf2f86a87d71dcf94149ce...,716552002,0.050831,1,716552,Edie frill blouse,258,Blouse,Garment Upper body,1010020,...,Ladieswear,11,Womens Tailoring,1010,Blouses,Blouse in an airy weave with a small stand-up ...,ACTIVE,Regularly,NaN,3e3f7bdeccbb1602a2cf79becdf6e3ac661f8d8783c210...
127,c4e87a803f6714172e300354140b8991fd5defbe19bcf0...,841434001,0.025407,1,841434,Amalia,265,Dress,Garment Full body,1010016,...,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,"Short, straight-cut T-shirt dress in sturdy co...",ACTIVE,NONE,NaN,a4e2e7474b00eebf34994ebbced8cd3c09228b98434bf0...
559,734843462f993e3f6ec83dbbbdc9f391a05472e6d62119...,825811004,0.016932,1,825811,Inez HW Loose Denim Shorts.,274,Shorts,Garment Lower body,1010023,...,Divided,53,Divided Collection,1025,Shorts,5-pocket shorts in washed denim with a high wa...,ACTIVE,NONE,NaN,64dacb1feea202bbf24bbc6dfbc2d4cffe9f08a8c44487...
809,3f5ded7a9e55def6c4bd28bc77300a9a03d12eb8269759...,700688001,0.016932,2,700688,Khloe V-shape brazilian 2pack,286,Underwear bottom,Underwear,1010016,...,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Brazilian briefs in cotton with a mid, V-shape...",PRE-CREATE,NONE,NaN,68fb501cdba1de97bc03fc51be15797bdc9007d41ed55a...
1838,af11cb60ded2beb37de27d51dface913cb7c1ebd5f14b1...,701265003,0.021896,2,701265,Alisha blouse,258,Blouse,Garment Upper body,1010016,...,Divided,53,Divided Collection,1010,Blouses,Long-sleeved blouse in a viscose crêpe weave w...,PRE-CREATE,NONE,NaN,d4e8f569fbed531b46f59dc9f4b76717c43deb8f6a6df5...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2869297,3501772938f7f2a514698325c5474cd707a53c8cd5be4e...,562245062,0.016932,2,562245,Luna skinny RW,272,Trousers,Garment Lower body,1010023,...,Ladieswear,15,Womens Everyday Collection,1009,Trousers,"5-pocket jeans in washed, superstretch denim w...",PRE-CREATE,NONE,NaN,1e6734fba4951969adfad47e71f350c6ef002a99bd787a...
2869312,6246e8e40d32d3462a2582b3e21fdc472a51e85ffcffdf...,564310015,0.022017,1,564310,Anthony 3pk Fancy,286,Underwear bottom,Underwear,1010001,...,Menswear,26,Men Underwear,1017,"Under-, Nightwear",Trunks in stretch cotton jersey with flatlock ...,ACTIVE,Regularly,NaN,e3f376a60249eb7d3c218adc9944ffd2976308fbb084f3...
2869316,533c552a4b6335abecb8e94e8b42eab86e683154d9a2e9...,685816044,0.008458,1,685816,RONNY R-NECK,255,T-shirt,Garment Upper body,1010016,...,Menswear,26,Men Underwear,1002,Jersey Basic,Round-necked T-shirt in soft cotton jersey.,ACTIVE,Regularly,NaN,c949548ed0a0f060ad13e1ba614ea4d11a38063e023d85...
2869805,a56a1a904d8bbb7ccffcd3f6823adb90f2da3e07040d83...,806241005,0.024661,2,806241,Bebe Sl-set (J),297,Pyjama set,Nightwear,1010016,...,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1017,"Under-, Nightwear",Pyjamas with a strappy top and shorts in soft ...,ACTIVE,NONE,NaN,89e28393244a2cb5fa28a549c4d4ab9b888347e36d2eb4...
2869860,38cf747f712442eddfec982801612c52900b2acd478d1b...,758353001,0.211616,2,758353,PE CATHARINE TROUSER,272,Trousers,Garment Lower body,1010016,...,Ladieswear,97,Collaborations,1001,Unknown,Trousers in a sturdy Tencel™ lyocell and silk ...,PRE-CREATE,NONE,NaN,9fc4008f6e5e52fef1383e5f3a985bbd5af5c7d4178d5f...

In [10]:
df4['age'].fillna(df4['age'].median(), inplace=True)
df4[df4['age'].isna()]

Empty DataFrame
Columns: [customer_id, article_id, price, sales_channel_id, product_code, prod_name, product_type_no, product_type_name, product_group_name, graphical_appearance_no, graphical_appearance_name, colour_group_code, colour_group_name, perceived_colour_value_id, perceived_colour_value_name, perceived_colour_master_id, perceived_colour_master_name, department_no, department_name, index_code, index_name, index_group_no, index_group_name, section_no, section_name, garment_group_no, garment_group_name, detail_desc, club_member_status, fashion_news_frequency, age, postal_code]
Index: []

[0 rows x 32 columns]

In [11]:
df4[df4['club_member_status'].isna()]

,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,...,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,club_member_status,fashion_news_frequency,age,postal_code
63,6d0fced9c20d8be57454b9029b4ac2ee4fe8472d892f20...,824995004,0.016932,2,824995,Frugan 2p,254,Top,Garment Upper body,1010016,...,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Fitted tops in soft jersey with a slightly wid...,NaN,NONE,35.0,c7be5ab1ffb0cf512e642133ef238f516cffb59dc91e1c...
111,dd3ac66d57e617122375b3ce3d3ab13b4ed09114d1608d...,643833006,0.006763,2,643833,Liquorice flipflop,88,Flip flop,Shoes,1010001,...,Divided,52,Divided Accessories,1020,Shoes,Flip-flops with rubber straps and fluted rubbe...,NaN,NONE,37.0,c7945f58ff3c7b9fe77d18fee76bd7cf49afd8aab2fe32...
691,43ecc4436994c38aac9a4f1bc1ab0600f77c2e0ce6cd6f...,687034024,0.025407,2,687034,Desert Top,298,Bikini top,Swimwear,1010016,...,Ladieswear,60,"Womens Swimwear, beachwear",1018,Swimwear,"Fully lined bikini top with removable inserts,...",NaN,NONE,25.0,8117dc1bb908395fc3c94116fa266ffafd1b6fd72e7125...
798,33dd1c5ffff1f21618426a18c894ea54bccb902e728791...,573716012,0.025407,2,573716,Kanta slacks RW,272,Trousers,Garment Lower body,1010016,...,Ladieswear,15,Womens Everyday Collection,1009,Trousers,Ankle-length cigarette trousers in a stretch w...,NaN,Regularly,25.0,2d6ed8050b6cbecbf22a52370e5583afa7ce610e265079...
2400,0114a45b341dd5230d1e93258f72f8cdd7f6abe69950d4...,741040001,0.050831,2,741040,Maggie high support,306,Bra,Underwear,1010016,...,Sport,5,Ladies H&M Sport,1005,Jersey Fancy,Sports bra in fast-drying functional fabric wi...,NaN,NONE,47.0,09e3d52f710e55a7d6a23f94c9724699aa2420ddc2061c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2868318,04beec1434d20a9a149beeb2f2c2cabaae3c63dbed140d...,827968004,0.016932,2,827968,Antonia heavy t-shirt,255,T-shirt,Garment Upper body,1010016,...,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Straight T-shirt in sturdy cotton jersey.,NaN,NONE,23.0,f8d908baa2626b44cb049af2c5dcaee0495ba86c0e9a2b...
2868703,062102a6616034704d6c90dd2ea63f6a3120c3a82b9518...,514182003,0.008458,2,514182,Ronny Long,255,T-shirt,Garment Upper body,1010016,...,Menswear,55,Contemporary Street,1005,Jersey Fancy,Long jersey T-shirt with slits in the sides. S...,NaN,NONE,58.0,96c6b5b903b0e6c9b588093722164cd5e0c12b3140206b...
2868773,9bb441e74cccd125be514b6013bd15c7f5fc908ceacd8e...,714379001,0.033881,2,714379,RR 27 Wrap 3/4 sleeve dress so,265,Dress,Garment Full body,1010016,...,Divided,50,Divided Projects,1001,Unknown,Short dress in a patterned crêpe weave with a ...,NaN,NONE,23.0,06c20c403e34c6e4f56e3ba9864905a0bff995e728a9c7...
2869479,cd9942e3b148b07aeb1963285b4c7ef9ff9ebe4e083934...,576050002,0.020322,2,576050,April,245,Cardigan,Garment Upper body,1010010,...,Ladieswear,15,Womens Everyday Collection,1003,Knitwear,Cardigan in a soft knit containing some wool w...,NaN,NONE,38.0,a97c0ee90347be41ce9497804cd9873742fbcb52d924d3...
2869571,ee54d83d9ed8aeb6677068262df4ef34251464d1f326ee...,673677003,0.016932,2,673677,Henry polo (1),252,Sweater,Garment Upper body,1010016,...,Ladieswear,11,Womens Tailoring,1003,Knitwear,"Jumper in a soft, fine knit with a ribbed polo...",NaN,NONE,49.0,336e75b97d32678cfb5934359e59a2446978a0695b25a9...

In [12]:
df4['club_member_status'].fillna('ACTIVE', inplace=True)
df4[df4['club_member_status'].isna()]

Empty DataFrame
Columns: [customer_id, article_id, price, sales_channel_id, product_code, prod_name, product_type_no, product_type_name, product_group_name, graphical_appearance_no, graphical_appearance_name, colour_group_code, colour_group_name, perceived_colour_value_id, perceived_colour_value_name, perceived_colour_master_id, perceived_colour_master_name, department_no, department_name, index_code, index_name, index_group_no, index_group_name, section_no, section_name, garment_group_no, garment_group_name, detail_desc, club_member_status, fashion_news_frequency, age, postal_code]
Index: []

[0 rows x 32 columns]

In [13]:
df4[df4['fashion_news_frequency'].isna()]

,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,...,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,club_member_status,fashion_news_frequency,age,postal_code
383,c625b2de42fc6072ec97d7927d462ea0fad77c28f2b2fb...,754267014,0.016932,2,754267,Zebra- TVP- TM,252,Sweater,Garment Upper body,1010008,...,Divided,53,Divided Collection,1005,Jersey Fancy,Top in lightweight sweatshirt fabric with drop...,ACTIVE,NaN,42.0,cca66546f907ed047f0634aafdfdae50188a0467aaf91f...
395,fff67693cb122cc9a939988a5e2194c044e0881b3f1d5f...,723380001,0.022864,2,723380,Charlotte chicago,306,Bra,Underwear,1010016,...,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Non-wired, lace push-up bra with moulded, padd...",ACTIVE,NaN,33.0,2e53e877dc18f4fc84780ee6be958ccf61591d0cc738f0...
861,6419c54203dac293b1ffb3ea1a89bcaafa987db2f0a379...,432566001,0.010881,1,432566,Net Tight,304,Underwear Tights,Socks & Tights,1010016,...,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,Fishnet tights with an elasticated waist.,ACTIVE,NaN,22.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
868,c3acf54ded2d837254cfaaf2b27f0eb1ae19339be51d39...,677885011,0.005209,2,677885,Dragonfly dress,265,Dress,Garment Full body,1010001,...,Baby/Children,76,Kids Girl,1005,Jersey Fancy,Sleeveless dress in printed jersey with a seam...,ACTIVE,NaN,25.0,a1bab63466e1b59891b2ff412410fdf9398b239a52c974...
1064,a07a59ffba6d885df2223323eb5cc229eca52ef4192328...,780418005,0.013542,2,780418,Stina scarf new,80,Scarf,Accessories,1010016,...,Divided,52,Divided Accessories,1019,Accessories,"Scarf in a soft, fine knit with fringes on the...",ACTIVE,NaN,49.0,cf930f0717ed76afdcff8b6116b2044a5a93f02e33b6a5...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2869369,2153ac83fbb11b37d60ae0eaabc096d7786cb969457656...,187949019,0.029169,2,187949,Padded pyjama,295,Pyjama jumpsuit/playsuit,Nightwear,1010001,...,Baby/Children,44,Baby Essentials & Complements,1017,"Under-, Nightwear",Lightly padded all-in-one pyjamas in soft cott...,ACTIVE,NaN,35.0,31e0fb67b12ed0558dfde9e5e31c2730ff985a932e9a63...
2869386,b036e6fe4a9b7fc6982538fdcbcccf9102263d1622af3f...,825811001,0.033881,1,825811,Inez HW Loose Denim Shorts,274,Shorts,Garment Lower body,1010023,...,Divided,53,Divided Collection,1025,Shorts,5-pocket shorts in washed denim with a high wa...,ACTIVE,NaN,52.0,22c537e46677d6e7042dcdea2dbabe06b2d4bac2692afb...
2869390,4ce693cfaeeff1407564dee0972053e712f72bedc6eff7...,732017005,0.016932,2,732017,Camille,245,Cardigan,Garment Upper body,1010016,...,Ladieswear,11,Womens Tailoring,1003,Knitwear,Long-sleeved cardigan in a soft fine knit with...,ACTIVE,NaN,50.0,3dd28638ecc6c6ad4bf0e36b8859a53670ffe8cf73a936...
2869739,1f6699ad4cc7290b6c99b6ae22b0293ca718c4012fd4ba...,504154033,0.019814,2,504154,Lady Di,252,Sweater,Garment Upper body,1010016,...,Ladieswear,15,Womens Everyday Collection,1003,Knitwear,"Wide, long-sleeved jumper in a soft, rib knit ...",ACTIVE,NaN,33.0,e557b77280bce194648ff2ec28acc0284359231ad2bf38...
2869988,613910a1fa615286e0d638e7cf6bded71e07775dc439ff...,673940004,0.013542,1,673940,Dragon J,265,Dress,Garment Full body,1010016,...,Divided,53,Divided Collection,1013,Dresses Ladies,"Short, sleeveless dress in velour with a V-nec...",ACTIVE,NaN,34.0,b26391b0f5854fe34b25020e9539f53e68aaf6f5cd3973...

In [14]:
df4['fashion_news_frequency'].fillna(method ='ffill', inplace=True)
df4[df4['fashion_news_frequency'].isna()]

Empty DataFrame
Columns: [customer_id, article_id, price, sales_channel_id, product_code, prod_name, product_type_no, product_type_name, product_group_name, graphical_appearance_no, graphical_appearance_name, colour_group_code, colour_group_name, perceived_colour_value_id, perceived_colour_value_name, perceived_colour_master_id, perceived_colour_master_name, department_no, department_name, index_code, index_name, index_group_no, index_group_name, section_no, section_name, garment_group_no, garment_group_name, detail_desc, club_member_status, fashion_news_frequency, age, postal_code]
Index: []

[0 rows x 32 columns]

In [15]:
df4[df4['detail_desc'].isna()]

,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,...,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,club_member_status,fashion_news_frequency,age,postal_code
185,23b6b4d5616ab9d8d973fb3766de342855bb55f90f53ac...,469039019,0.022017,1,469039,Henrik ballerina,86,Ballerinas,Shoes,1010016,...,Ladieswear,64,Womens Shoes,1020,Shoes,NaN,ACTIVE,Regularly,25.0,10e8ba92d9ddbb6503fa3c7e98cd05e4042b9306859388...
385,d7466a6495afe808eef18dc840fc76d4004413f9e457e9...,637268008,0.050831,2,637268,April,275,Skirt,Garment Lower body,1010004,...,Ladieswear,11,Womens Tailoring,1012,Skirts,NaN,ACTIVE,NONE,35.0,be728986cbc458cc5869f6fb0fd1746b0dbdbba4da49eb...
569,5414c422ae7ef84eda76f9951c51f666aada59daa64773...,510419004,0.042356,2,510419,Nilla leather sandal,91,Sandals,Shoes,1010011,...,Ladieswear,64,Womens Shoes,1020,Shoes,NaN,ACTIVE,NONE,44.0,86669b77b53e1327104beeaf9568ed7bba9bddcd1c7216...
815,3a020aa69df906244cfe55a338169b410244f316aa207f...,684824002,0.050831,2,684824,Walkover Unpadded Swimsuit,57,Swimsuit,Swimwear,1010016,...,Ladieswear,60,"Womens Swimwear, beachwear",1018,Swimwear,NaN,ACTIVE,NONE,57.0,e571495be6e9dd3f763191a3d5c8568e37a0c549994996...
1979,b14ad54cf776559705b8356ee29cb810304394349385f7...,685150002,0.050831,2,685150,Rosie blouse,258,Blouse,Garment Upper body,1010016,...,Divided,53,Divided Collection,1010,Blouses,NaN,ACTIVE,Regularly,48.0,83315d6917d35899bf34565002385d59074d4d4fbf73f1...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2869070,94ea59da4500e648f997bc156badbd571e074d85fff2f2...,592835001,0.015237,2,592835,CSP Curacao LS,254,Top,Garment Upper body,1010001,...,Divided,53,Divided Collection,1005,Jersey Fancy,NaN,ACTIVE,NONE,59.0,742becff5ad3c2664f593204cdfed5db73b1313f284f66...
2869160,7093d9aa3ca81223362634ac271b22f6f765dba13e225d...,742916003,0.008458,1,742916,C Antibes Tie Tanga,59,Swimwear bottom,Swimwear,1010001,...,Ladieswear,60,"Womens Swimwear, beachwear",1018,Swimwear,NaN,ACTIVE,NONE,25.0,0a5d18dd1bbea84b2c5fefd26372e69f487157907a3e48...
2869175,bf09cb94b2061eb0da442626b8e25b9293b46d05409e79...,684824003,0.050831,2,684824,Walkover Unpadded Swimsuit,57,Swimsuit,Swimwear,1010016,...,Ladieswear,60,"Womens Swimwear, beachwear",1018,Swimwear,NaN,ACTIVE,NONE,31.0,c9e3062555522480f3efab5ff78920cc966543e19fff93...
2869319,471261e712ff8cf5a4dd6671e937a8e38cb3fceecb10d9...,426199021,0.022017,2,426199,Ellen Shortie Daisy Low 3p,286,Underwear bottom,Underwear,1010017,...,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear",NaN,ACTIVE,Regularly,27.0,c250187c8f57a5ac251ffae2be218bf64ac4fb92d5d907...
2869699,496a2a679b1385dd4d28569ffad6c5c68c5888278438f8...,663518002,0.012186,1,663518,Lily Thong (Malva) 3pk,286,Underwear bottom,Underwear,1010016,...,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear",NaN,ACTIVE,Regularly,33.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...

In [16]:
df4['detail_desc'].fillna(method ='ffill', inplace=True)
df4[df4['detail_desc'].isna()]

Empty DataFrame
Columns: [customer_id, article_id, price, sales_channel_id, product_code, prod_name, product_type_no, product_type_name, product_group_name, graphical_appearance_no, graphical_appearance_name, colour_group_code, colour_group_name, perceived_colour_value_id, perceived_colour_value_name, perceived_colour_master_id, perceived_colour_master_name, department_no, department_name, index_code, index_name, index_group_no, index_group_name, section_no, section_name, garment_group_no, garment_group_name, detail_desc, club_member_status, fashion_news_frequency, age, postal_code]
Index: []

[0 rows x 32 columns]

In [18]:
df4 = df4.drop_duplicates(keep='first')

In [19]:
df4.duplicated().sum()

0

In [20]:
df4.dtypes

customer_id                      object
article_id                        int64
price                           float64
sales_channel_id                  int64
product_code                      int64
prod_name                        object
product_type_no                   int64
product_type_name                object
product_group_name               object
graphical_appearance_no           int64
graphical_appearance_name        object
colour_group_code                 int64
colour_group_name                object
perceived_colour_value_id         int64
perceived_colour_value_name      object
perceived_colour_master_id        int64
perceived_colour_master_name     object
department_no                     int64
department_name                  object
index_code                       object
index_name                       object
index_group_no                    int64
index_group_name                 object
section_no                        int64
section_name                     object
garment_group_no                  int64
garment_group_name               object
detail_desc                      object
club_member_status               object
fashion_news_frequency           object
age                             float64
postal_code                      object
dtype: object

In [21]:
df4.drop(columns=['prod_name','product_type_name','graphical_appearance_name','colour_group_name','perceived_colour_value_name','perceived_colour_master_name','department_name','index_group_name','section_name','garment_group_name'], inplace=True)
df4

C:\Users\ricar\AppData\Local\Temp\ipykernel_29652\268533465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(columns=['prod_name','product_type_name','graphical_appearance_name','colour_group_name','perceived_colour_value_name','perceived_colour_master_name','department_name','index_group_name','section_name','garment_group_name'], inplace=True)

,customer_id,article_id,price,sales_channel_id,product_code,product_type_no,product_group_name,graphical_appearance_no,colour_group_code,perceived_colour_value_id,...,index_code,index_name,index_group_no,section_no,garment_group_no,detail_desc,club_member_status,fashion_news_frequency,age,postal_code
0,84de9b53a1f9104d6f4ab511415264ffc37c5d8808fe5b...,616598025,0.025407,2,616598,272,Garment Lower body,1010023,72,3,...,F,Menswear,3,56,1016,5-pocket jeans in washed denim with a regular ...,ACTIVE,Regularly,60.0,41cc0fe9cc4479c25b03e4e36ce8986200807bc027e36e...
1,bfeb1e2504be7a5f3a4277c4f8ef4a7f7f366122d7bd7d...,692449001,0.009475,2,692449,272,Garment Lower body,1010016,82,7,...,G,Baby Sizes 50-98,4,41,1006,"Jeggings in a washed, stretch cotton blend wit...",ACTIVE,NONE,34.0,be5a84430b25ef19d4f436761897c396afb5b191ce9b1b...
2,a3e5fda6f79e3036b16edfd021ad4a8375f0239dc355be...,717490057,0.007610,1,717490,255,Garment Upper body,1010007,31,1,...,D,Divided,2,51,1002,T-shirt in soft jersey.,ACTIVE,Regularly,18.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
3,e9ed19363db866d72854d218b6061407612d0bb8504fc8...,808569001,0.011847,1,808569,253,Garment Upper body,1010016,9,4,...,S,Sport,26,5,1005,Fitted sports vest top in fast-drying jersey w...,ACTIVE,NONE,23.0,7dacdf1c30a2dc141efd60db2861a6ad5ad9f24e4d5454...
4,097d7b505a961095c4ca7c20889fb96c7ab6c40e75a0cb...,832298003,0.030492,2,832298,298,Swimwear,1010016,42,5,...,B,Lingeries/Tights,1,60,1018,"Lined, flounced bikini top with padded cups fo...",ACTIVE,NONE,28.0,10bda156410d7153dbeb4a649815d39bfdb36b3273ad3f...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2869995,c137139c551d7e04e6920bfebb13e6543d08d4657eac92...,699426003,0.041949,2,699426,57,Swimwear,1010016,9,4,...,B,Lingeries/Tights,1,60,1018,Fully lined swimsuit with removable inserts an...,ACTIVE,NONE,32.0,b7a3837545f1fc9dd5db17a9eee59ccf67429f05ef4126...
2869996,f3cf4bf7563575257d119450d57eda3741ce0a90fb2361...,678342002,0.008458,1,678342,255,Garment Upper body,1010016,10,3,...,D,Divided,2,51,1002,Fitted T-shirt in soft cotton jersey with a sl...,ACTIVE,Regularly,27.0,e0b95c401c61f3dcbe9e0686545781ea51633d9b5aa02c...
2869997,b325837955af58d42923f03e7bafac34b4217d6f0e8eef...,882900008,0.067780,2,882900,272,Garment Lower body,1010023,73,2,...,D,Divided,2,57,1016,"5-pocket, ankle-length jeans in washed, stretc...",ACTIVE,NONE,24.0,072c4359c66f44471419dcedd18026eab857a026213735...
2869998,f0ac4aabd57d788d1c635ccbc9db3bd0514531877ed230...,764624001,0.019949,2,764624,252,Garment Upper body,1010016,9,4,...,D,Divided,2,51,1002,Top in soft sweatshirt fabric in a relaxed fit...,ACTIVE,Regularly,46.0,b63c8d2b1b719e474c517c59c7ce6d2b73ea11ff169c25...
2869999,5f67e2c5ea84e4063b5b65efe7c34653f3f7a9f1b66969...,819139001,0.033881,1,819139,265,Garment Full body,1010016,12,1,...,A,Ladieswear,1,15,1023,Short dress in a soft cable knit containing so...,ACTIVE,NONE,59.0,9138c7c99fea4d517dde9ee8767c486bbaad66c3dbd656...

In [22]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()

df4["change"] = ord_enc.fit_transform(df4[["customer_id"]])
df4 = df4.drop("customer_id", axis=1)
df4.rename(columns = {"change":"customer_id"}, inplace = True)

C:\Users\ricar\AppData\Local\Temp\ipykernel_29652\2410206212.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["change"] = ord_enc.fit_transform(df4[["customer_id"]])

In [23]:
df4["change"] = ord_enc.fit_transform(df4[["product_group_name"]])
df4 = df4.drop("product_group_name", axis=1)
df4.rename(columns = {"change":"product_group_name"}, inplace = True)

In [26]:
df4["change"] = ord_enc.fit_transform(df4[["index_code"]])
df4 = df4.drop("index_code", axis=1)
df4.rename(columns = {"change":"index_code"}, inplace = True)

In [27]:
df4["change"] = ord_enc.fit_transform(df4[["index_name"]])
df4 = df4.drop("index_name", axis=1)
df4.rename(columns = {"change":"index_name"}, inplace = True)

In [28]:
df4["change"] = ord_enc.fit_transform(df4[["detail_desc"]])
df4 = df4.drop("detail_desc", axis=1)
df4.rename(columns = {"change":"detail_desc"}, inplace = True)

In [29]:
df4["change"] = ord_enc.fit_transform(df4[["club_member_status"]])
df4 = df4.drop("club_member_status", axis=1)
df4.rename(columns = {"change":"club_member_status"}, inplace = True)

In [30]:
df4["change"] = ord_enc.fit_transform(df4[["fashion_news_frequency"]])
df4 = df4.drop("fashion_news_frequency", axis=1)
df4.rename(columns = {"change":"fashion_news_frequency"}, inplace = True)

In [31]:
df4["change"] = ord_enc.fit_transform(df4[["postal_code"]])
df4 = df4.drop("postal_code", axis=1)
df4.rename(columns = {"change":"postal_code"}, inplace = True)

In [32]:
df4.dtypes

article_id                      int64
price                         float64
sales_channel_id                int64
product_code                    int64
product_type_no                 int64
graphical_appearance_no         int64
colour_group_code               int64
perceived_colour_value_id       int64
perceived_colour_master_id      int64
department_no                   int64
index_group_no                  int64
section_no                      int64
garment_group_no                int64
age                           float64
customer_id                   float64
product_group_name            float64
index_code                    float64
index_name                    float64
detail_desc                   float64
club_member_status            float64
fashion_news_frequency        float64
postal_code                   float64
dtype: object

In [35]:
df4 = df4[["article_id", "product_code", "customer_id", "price"]]
df4

         article_id  product_code  customer_id     price
0         616598025        616598     424651.0  0.025407
1         692449001        692449     614152.0  0.009475
2         717490057        717490     524122.0  0.007610
3         808569001        808569     747966.0  0.011847
4         832298003        832298      30273.0  0.030492
...             ...           ...          ...       ...
2869995   699426003        699426     618252.0  0.041949
2869996   678342002        678342     779559.0  0.008458
2869997   882900008        882900     573207.0  0.067780
2869998   764624001        764624     769384.0  0.019949
2869999   819139001        819139     304895.0  0.033881

[2832978 rows x 4 columns]

In [36]:
df4.to_csv('Dataset_Test.csv', index=False)